<!DOCTYPE html>
<html>
<head>
    <title>首页</title>
    <meta charset="utf-8" />
    <script src="../../JS/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        function SubmitPost() {
            var url = "http://localhost:8080/Show/IsGetOrPost/wef";
            $.post(url, { name: "John", time: "2pm" },
             function (data) {
                 alert("Data Loaded: " + data);
             });
        }
        function SubmitPost2() {
            var url = "http://localhost:8080/Show/IsGetOrPost/wef";
            var data = "{'account':'" + "wefwe" + "','password':'" + "vcxb" + "'}";
            $.post(url, data,
             function (data) {
                 alert("Data Loaded: " + data);
             });
        }

    </script>
</head>
<body>
    
    跳转列表：<br />
    <a href="@ViewData["ControllerAndAction_0_0"]">@ViewData["ControllerAndAction_0_0"]</a><br />
    <a href="@ViewData["ControllerAndAction_0_1"]">@ViewData["ControllerAndAction_0_1"]</a><br />
    <a href="@ViewData["ControllerAndAction_1_0"]">@ViewData["ControllerAndAction_1_0"]</a><br />
    <a href="@ViewData["ControllerAndAction_1_1"]">@ViewData["ControllerAndAction_1_1"]</a><br />
    <a href="@ViewData["ControllerAndAction_2_0"]">@ViewData["ControllerAndAction_2_0"]</a><br />
    <a href="@ViewData["ControllerAndAction_2_1"]">@ViewData["ControllerAndAction_2_1"]</a><br />
    <a href="@ViewData["ControllerAndAction_2_2"]">@ViewData["ControllerAndAction_2_2"]</a><br />
    <a href="@ViewData["ControllerAndAction_2_3"]">@ViewData["ControllerAndAction_2_3"]</a><br />


</body>
</html>
